<p class="bg-red-100"> DETAILS</p>
<div>
  <img [src]="currentRecipeElement?.imgPath" class="max-h-36">
</div>
<div>
  <h1 class="font-bold">Name: {{currentRecipeElement?.name}}</h1>
</div>
<div class="mb-4">
  Description: {{currentRecipeElement?.description}}
</div>

<p-splitButton label="To Shopping List" icon="pi pi-send"
  (onClick)="addIngridientsToShoppingList(currentRecipeElement.ingredients)" [model]="dropDownItems"></p-splitButton>
<br>
<div>
  ingredient
  <br>
  <p *ngFor="let ingredient of currentRecipeElement.ingredients">
    {{ingredient.name }} | | {{ ingredient.amount }}
  </p>
</div>
