<div class="mt-4">
    <app-shopping-edit></app-shopping-edit>
    <hr class="my-4">
    <p>The Shopping List</p>
    <hr class="my-4">
    <div class="flex flex-col gap-2">
        <div class="cursor-pointer p-4 outline-dashed outline-1" *ngFor="let ingredient of ingredients">
            {{ ingredient.name }} ({{ ingredient.amount }})
        </div>
    </div>

</div>
