<div class="grid gap-16 grid-cols-2 grid-rows-1">
    <div>
        <app-recipe-list></app-recipe-list>
    </div>
    <div>
        <app-recipe-detail *ngIf="currentRecipe; else defautlText" [currentRecipeElement]="currentRecipe">

        </app-recipe-detail>
        <ng-template #defautlText><p>Please select a Recipe for details</p></ng-template>
    </div>
</div>
