<app-header (selectedMenuItem)="showMenuItem($event)"></app-header>
<div class="m-12">
    <app-recipes *ngIf="activeMenuItem === 'recipe'"></app-recipes>
    <app-shopping-list *ngIf="activeMenuItem === 'shopping'"></app-shopping-list>
</div>