<a href="#" class="flex justify-between mb-4 outline-dotted outline-1 p-2" (click)="onClick()">
    <div>
        <h1 class="font-extrabold">{{ recipe.name }}</h1>
        <p>{{ recipe.description }}</p>
    </div>
    <span>
        <img [src]="recipe.imgPath" class="max-h-16">
    </span>
</a>
