<div class="">
  <button pButton class="mb-8">New Recipe</button>
  <hr class="mb-8">
  <!-- <app-recipe-item *ngFor="let recipe of recipes"></app-recipe-item> -->
  <app-recipe-item *ngFor="let recipeElement of recipes" [recipe]="recipeElement">
  </app-recipe-item>

</div>
