@tailwind components;
@tailwind utilities;


p-menubarsub{
    width: 95%; 
}

.p-menuitem:last-child {
    margin-left: auto;
}

.p-menubar ul{
    column-gap: 1rem;
    
}

.drop-button{
    min-width: 200px;
}



