<div class="flex gap-6 mb-4" >
    <div class="flex flex-col w-1/4" >
        <label for="text-input" class="font-bold">Name</label>
        <input type="text" id="text-input" pInputText #nameInput> 
    </div>
    <div class="flex flex-col w-1/12">
        <label for="number-input" class="font-bold">Amount</label>
        <input type="number" id="number-input" pInputText #amountInput> 
    </div>
</div>

<div class="flex gap-2">
    <button pButton type="button" label="Add" class="p-button-success" (click)="onAddClick()"></button>
    <button pButton type="Delete" label="Delete" class="p-button-danger"></button>
    <button pButton type="Delete" label="Clear" class="p-button-primary"></button>

</div>